body{
    margin-top: 10px;
}

#map {
    min-height: 500px;
    margin-bottom: 20px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    /*height: 1500px*/
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.navbar {
    margin-bottom: 0px !important;
}

.glyphicon-addresses:before{
    /*background-image: url("../img/dispatch.png");*/
    content: "\e062";
}

.glyphicon-addressesusers:before{
    /*background-image: url("../img/dispatch.png");*/
    content: "\e062";
}

.glyphicon-carriers:before{
    /*background-image: url("../img/dispatch.png");*/
    content: "\e110";
}

.glyphicon-companies:before{
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-620-industrial-zone.png");*/
    content: "\e139";
}

.glyphicon-configs:before {
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-137-cogwheel.png");*/
    content: "\e019";
}

.glyphicon-dispatchs:before{
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-351-shopping-bag.png");*/
    content: "\e102";
}

.glyphicon-plans:before{
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-30-notes-2.png");*/
    content: "\e032";
}

.glyphicon-resources:before{
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-431-construction-cone.png");*/
    content: "\e137";
}

.glyphicon-roles:before{
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-204-lock.png");*/
    content: "\e033";
}

.glyphicon-rolesusers:before{
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-715-user-structure.png");*/
    content: "\e033";
}

.glyphicon-users:before{
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-4-user.png");*/
    content: "\e008";
}

.glyphicon-permissions:before{
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-204-lock.png");*/
    content: "\e033";
}

.glyphicon-permissionsroles:before{
    /*background-image: url("../img/glyphicons_free/glyphicons/png/glyphicons-522-user-lock.png");*/
    content: "\e033";
}

.actions a {
    display: inline;
}

.input input, .input select, .input textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input.datetime label{
    display: block !important;
}

.input.datetime select{
    width: 20% !important;
    display: inline-block !important;
}

.main-content {
    /*margin-top: 10px;*/
    /*padding-bottom: 60px;*/
    /*padding-top: 60px;*/
    margin-top: 30px;
    margin-bottom: 60px;
}

.ui-accordion-header {
    /*border-radius: 4px !important;*/
    padding: 10px !important;
}

.ui-state-active {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.menu-title {
    /*padding-left: 24px;*/
}

#accordion-menu .ui-accordion-content {
    padding: 0;
}

#accordion-menu .ui-accordion-content li{

}

#accordion-menu .ui-accordion-content li:hover {
    background-color: #eeeeee;
}

#accordion-menu .ui-accordion-content li a {
    color: #337ab7;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.selected-action {
    font-weight: bold;
}

table, td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.paginator {
    text-align: center;
}

.actions .btn-primary {
    margin-left: 5px;
    margin-right: 5px;
}

.flash-message {
    margin-top: 10px;
}

.users.form .imgcontainer{
    text-align: center;
    margin: 40px;
}

.users.form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

select:disabled, input:disabled, input:read-only {
    background-color: #eee !important;
    color: #999 !important;
}

.form-error {
    border-color: #ebccd1 !important;
}

.error-message{
    color: #a94442;
}

.ui-autocomplete-loading {
    background: url("../img/loading.gif") right center no-repeat !important;
    background-size: 24px 24px !important;
    background-color: #eee !important;
    color: #999 !important;
}

/*.navbar-brand {*/
    /*padding-left: 15px !important;*/
    /*padding-bottom: 5px !important;*/
    /*padding-top: 5px !important;*/
    /*padding-right: 15px !important;*/
/*}*/

#newAddressFrame {
    border:none;
    width: 100%;
    height: 100%;
}

.navbar-default {
    background-color: #eeeeee !important;
    border: none !important;
}

.container-fluid {
    /*padding: 60px 60px !important;*/
}

.table {
    margin-bottom: 0 !important;
    background-color: #FFFFFF !important;
}

.table-responsive {
    /*padding: 20px !important;*/
    /*border: 1px solid #ddd !important;*/
    /*border-radius: 5px !important;*/
    /*background-color: #f5f5f5 !important;*/
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
    margin-bottom: 20px !important;
}

.table-bordered {
    /*border: 2px solid #ddd !important;*/
}

.related {
    margin-top: 40px !important;
}

th{
    background-color: #bbbbbb !important;
    border: 1px solid #999999 !important;
}

label {
    margin-top: 10px !important;
}

#addressesTable {
    margin-top: 20px;
}

#newAddressButton {
    /*margin-top:  20px;*/
}

form, .content-view {
    border: 1px solid #dddddd !important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05) !important;
    border-radius: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

form h3, .content-view h3 {
    background-color: #f5f5f5 !important;
    margin-left: -20px !important;
    margin-right: -20px !important;
    margin-top: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.content-view h3 {
    margin-bottom: 30px !important;
}

.form-inline {
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.form-sign-up {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.logo-small {
    font-size: 50px;
    color: #777;
}

.white {
    /*background-color: #ffffff;*/
}

.gray {
    /*background-color: #F6F6F6;*/
}

.panel-footer input[type=submit] {
    margin-bottom: 10px;
}